:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 500;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.container {
  max-width: 800px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #333;
  color: #fff;
}

th {
  padding: 10px;
  color: #fff;
  text-align: left;
}

td {
  padding: 10px;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  position: relative;
}

.filter-bar label {
  margin-right: 10px;
}

.filter-bar select {
  padding: 5px;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
    margin-top: 10%;
  }

  .filter-bar {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .filter-bar label,
  .filter-bar select {
    width: 100%;
    margin-bottom: 10px;
  }

  .filter-bar select {
    max-width: 200px;
  }

  th,
  td {
    font-size: 14px;
  }

  @media (max-width: 400px) {
    th,
    td {
      font-size: 12px;
    }
  }
}
